body { 
font-family : 'Open Sans', sans-serif; 
display : flex; 
justify-content : center; 
} 
div { 

} 
.CV { 
    display : flex; 
} 
.Gauche { 
  background-color : orange; 
  color : white; 
  display : flex; 
  justify-content : space-between; 
  flex-direction : column; 
  padding-left : 25px; 
  padding-right : 25px; 
} 
.Séparation { 
    background-color : white; 
} 
.Interêt { 
    background-color : white; 
}
.Droite { 
    display : flex; 
    justify-content : flex-start; 
    flex-direction : column; 
    padding-left : 25px; 
    padding-right : 25px; 
} 
.Présentation { 
    display : flex; 
    justify-content : space-between; 
    flex-direction : column; 
} 
.Formation { 
    background-color : orange; 
    color : white; 
    display : flex; 
    justify-content : center; 
    padding-right : 25px; 
    padding-left : 25px; 
} 
.SIMPLON { 
    display : flex; 
    justify-content : space-between; 
} 
.ARTIS { 
    font-weight : bold; 
}
.CFA { 
    display : flex; 
    justify-content : space-between; 
} 
.Séminaire { 
    font-weight : bold; 
} 
.Baccalauréat { 
    display : flex; 
    justify-content : space-between; 
} 
.STMG { 
    font-weight : bold; 
} 
.Collège { 
    font-weight : bold; 
}
.Brevet { 
    display : flex; 
    justify-content : space-between; 
} 
.Anglais { 
    display : flex; 
    justify-content : space-between; 
} 
.Espagnol { 
    display : flex; 
    justify-content : space-between; 
} 
.Expériences { 
    background-color : orange; 
    color : white; 
    display : flex; 
    justify-content : center; 
    padding-right : 25px; 
    padding-left : 25px; 
} 
.Hôte { 
    display : flex; 
    justify-content : space-between; 
} 
.Acceuil { 
    font-weight : bold; 
}
.GLOBE { 
    display : flex; 
    justify-content : space-between; 
} 
.Marketing { 
    font-weight : bold; 
}
.DASES { 
    display : flex; 
    justify-content : space-between; 
} 
.Volontaire { 
    font-weight : bold; 
}
.Animateur { 
    display : flex; 
    justify-content : flex-end; 
} 
.Gestes { 
    font-weight : bold; 
}
.COCCINET { 
    display : flex; 
    justify-content : space-between; 
} 
.Stage { 
    font-weight : bold; 
}
.HTML { 
    display : flex; 
    justify-content : flex-end; 
} 